@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: var(--font-geist);
}

@layer base {
  :root {
    --background: 231 60% 2%; /* ##020308 */
    --foreground: 0 0% 98%;
    --card: 225 30% 9%; /* #0F111C */
    --card-foreground: 0 0% 98%;
    --popover: 225 30% 9%;
    --popover-foreground: 0 0% 98%;
    --primary: 217 100% 52%; /* #0D69FF */
    --primary-foreground: 0 0% 98%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 217 100% 65%; /* #4C90FF */
    --accent-foreground: 0 0% 9%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 225 20% 15%; /* #1D1F2B */
    --input: 225 18% 4%;
    --ring: 217 100% 52%;
    --radius: 0.5rem;

    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;

    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 231 60% 2%; /* #010410 */
    --foreground: 0 0% 98%;
    --card: 225 18% 4%;
    --card-foreground: 0 0% 98%;
    --popover: 225 30% 9%;
    --popover-foreground: 0 0% 98%;
    --primary: 217 100% 52%; /* #0D69FF */
    --primary-foreground: 0 0% 98%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 217 100% 65%; /* #4C90FF */
    --accent-foreground: 0 0% 9%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 225 20% 15%; /* #1D1F2B */
    --input: 225 18% 4%;
    --ring: 217 100% 52%;

    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  @keyframes border-spin {
    from {
      --angle: 0deg;
    }
    to {
      --angle: 360deg;
    }
  }

  @property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
  }

  .animate-border-spin {
    animation: border-spin 3s linear infinite;
  }
}